# Copyright 2026 Alexey Guseynov (kibergus). All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================

[flake8]
max-line-length = 120
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,.venv,.mypy_cache,.pytest_cache,notebook,testdata,node_modules,scratch,clean_duplicates.py,generate_one_off_plot.py,generate_session_drivers_plot.py,inspect_session.py
inline-quotes = single
multiline-quotes = single
docstring-quotes = double
extend-ignore = IMR201, IMR202, IMR220, IMR221, IMR222, IMR223, IMR240, IMR241, IMR243, IMR244