<h2>Looking at sessions</h2>
<p>
    On the main page click <a href="https://brbrdb.brbrkitten.com/league/kartsim/last">"last"</a> on the KartSim card,
    which
    will open an overview of today's sessions.
</p>
<p>
    <img src="{{ url_for('static', filename='stats.svg') }}" alt="Telemetry Stats tab"
        style="max-width: 100%; height: auto; border-radius: 8px; display: block; margin: 1.5rem 0;">
</p>
<p>
    This gives an idea in which turns time is lost, where consistency can be improved. And "Theoretical best" shows what
    time you could achieve if you were extremely consistent: it takes the best pieces from your laps and stitches them
    together.
</p>
<p>
    This gives good quick guidance, but we can dig deeper by clicking on a specific turn (or on a "Map" button) and
    compare
    individual laps, to understand where exactly time is lost.
</p>
<p>
    <img src="{{ url_for('static', filename='compare.svg') }}" alt="Lap comparison"
        style="max-width: 100%; height: auto; border-radius: 8px; display: block; margin: 1.5rem 0;">
</p>
<p>
    And if you are up to looking at curves, we can get lots of data from a simulator and understand what exactly was
    happening:
</p>
<p>
    <img src="{{ url_for('static', filename='plots.svg') }}" alt="Telemetry plots"
        style="max-width: 100%; height: auto; border-radius: 8px; display: block; margin: 1.5rem 0;">
</p>
{% if get_current_acl().get('see_telemetry') %}
<h2>Setting up the plugin</h2>
<p>
    Please read the <a href="#telemetry_terms">terms of use</a>.
</p>
<p>
    To send telemetry you need to install an rFactor 2 plugin. The latest version can be obtained on
    <a href="https://github.com/kibergus/race_tools/releases/">the GitHub releases page</a>. The installer provides a
    nice GUI that will guide you. It is also used for adjusting settings and uninstalling. I tried to make the
    UI self-explanatory, but if something is not clear, let me know and I'll try to make it better.
</p>
<p>
    The installer will ask for an API key; your key is <code>{{ get_current_key() }}</code>
</p>
<p>
    You can configure the plugin to only send sessions from a certain kart or add driver name overrides (but API keys
    are bound to certain drivers). The plugin
    also saves all the sessions on your drive locally, so they can be re-uploaded later from the installer if needed.
</p>
<p>
    The next time you run the simulator, the session should be streamed to the server and should appear in the <a
        href="https://brbrdb.brbrkitten.com/league/kartsim">Web UI</a>. The data is live-streamed but you would need to
    refresh the page to see new data.
</p>
<p>
    The track layouts should be there for all UK KartSim tracks, but I'm still marking up turns, thus per-turn analytics
    may not be available on some tracks.
</p>
{% else %}
<b style="color: var(--warning);">This is a highly experimental feature which is not ready for wide adoption yet.</b>
{% endif %}